# Uso de Dataframe en Pandas
##### https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [1]:
import pandas as pd

In [3]:
mi_df = pd.DataFrame(({'a': [11,12,13], 'b': [21,22,23]}))
print(mi_df)

    a   b
0  11  21
1  12  22
2  13  23

In [4]:
data = {'ciudad': ['Loja', 'Pichincha', 'Guayas'],
        'capital' : ['Loja', 'Quito', 'Guayaquil'],
        'zona'  : [7, 8, 1]}
frame = pd.DataFrame(data) # Creando un DataFrame desde un diccionario
frame

      ciudad    capital  zona
0       Loja       Loja     7
1  Pichincha      Quito     8
2     Guayas  Guayaquil     1